
 body{
    background-color:rgb(238, 238, 232);
        
 }
 footer{
    background-color:white;
    background-size: auto;
 }
 li{
    color: aqua;
 }
 footer{
   background-color:blueviolet;
 }
